<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/prestador.css" />
    <title>Cadastro</title>
</head>
    <div class="title"><h1>BEM-VINDO AO NICEJOB!</h1></div>
<body>
    
    <div class="main">
        <div class="boxCliente">
            <h1 class="mainText">Cadastre-se como Prestador:</h1>
            <form class="form-cliente">
                <label>Nome:</label><br>
                <input class="inputForm1" type="text" placeholder="Nome completo"/><br>
                <label>Email:</label><br>
                <input class="inputForm2" type="email" placeholder="Email" /><br>
                <label>Serviço primário:</label><br>
                    <input class="inputForm1" type="text" placeholder="Ex: Pedreiro"/><br>
                <label>Serviços secundários:</label><br>
                    <input class="inputForm2" type="email" placeholder="Ex: Pedreiro, Mecânico, Pintor, etc." /><br>
                <label class="senhaLabel">Diplomas e certificados (Não obrigatório):</label><br>
                    <input class="inputForm3" type="file"/><br>
                <label class="senhaLabel">Senha:</label>
                <label class="cepLabel" >CEP:</label>
                <label class="telLabel">Telefone:</label><br>
                <input class="inputForm3" type="password" placeholder="Senha" />
                <input class="inputForm4" type="tel" placeholder="(00) 00000-0000"/>
                <input class="inputForm5" type="number" placeholder="00000-000" /><br>
                <input class="inputForm6" type="password" placeholder="Repita a senha"/>
                <div><label class="empLabel" >Empregado atualmente?</label><br>
                <select name="empregado" class="inputForm7" type="checkbox" placeholder="(00) 00000-0000">
                    <option value="sim">Sim</option>
                    <option value="nao">Não</option>
                </select>  
               <div><label class="labelExp">Experiência profissional:</label><br>
                    <textarea class="inputForm9" name="experiencia" placeholder="Fale um pouco sobre..." rows="13"></textarea><br>
               </div>   
                   
            </form>
           <input class="inputForm8" type="button" value="Cadastrar" />
        </div>
        
    </div>    
</body>
</html>