<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content2-="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.ejs"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <title>Pagina Inicial</title>
</head>
<body>    
    <div class="main">
        <h2 class="mainText">BEM-VINDO AO NICEJOB!</h2>
      <div class="center"> 
    <input type="checkbox" id="show">
    <label for="show" class="show-btn">Login</label>
    <a href="./3-cliente.html" class="show-btn1">Cadastre-se</a>

    <div class="container">
       <label for="show" class="close-btn fas fa-times" title="close"></label>
       <div class="text">
          Logar
       </div>
       <form action="#">
               <div class="data">
                  <label>Email:</label>
                  <input type="email" required  placeholder="Email" /><br>
               </div>
               <div class="data">
                  <label>Senha:</label>
                  <input type="password" required placeholder="Senha" /><br>
               </div>
               <div class="forgot-pass">
                  <a href="#">Esqueceu a senha?</a>
               <div class="botton">
                  <button class="ModalBtn">Entrar</button>
               </div>
       </form>
</body>
</html>