<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form-container">
        <h1>Login</h1>
        <form method="POST" action="/login">
            <div class="form-input">
            <label>User:</label>
            <input type="text" name="nome" id="user" placeholder="user" required />
            </div>
            <div class="form-input">
            <label>Password:</label>
            <input type="password" name="senha" id="password" placeholder="password" required />
            </div>
            <div class="form-button">
            <button type="submit" class="submit-button">Login</button>
            </div>
        </form>
    </div>
</body>
</html>